@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700&family=Montserrat:ital,wght@0,100;0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* <<<<< GENERAL >>>>> */

html {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Dosis', 'Verdana', 'sans-serif';
    width: 100%;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

h1 {
    padding: 0;
    margin: 0;
}

.light-text {
    font-weight: lighter;
    text-align: center;
}

button {
    padding: 1rem 3.5rem;
    font-size: 1rem;
    border-radius: 15px;
    background-color: rgba(255,255,255,.3);;
    box-shadow: 1px 1px 10px 2px rgba(10, 10, 10, .5);
}

button:hover{
    box-shadow: 1px 1px 15px 3px rgba(10, 10, 10, .5);
    background-color: transparent;
    color: aliceblue;
}

.bordered-box {
    border: .15rem solid;
}



/* <<<<< NAVIGATION >>>>> */
.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

.navigation ul {
    margin: 0;
    height: 6vh;
}


.navigation li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    height: 100%;
    transition: all 0.3s ease 0s;

}

.navigation li:hover, .navigation li:hover a {
    color: black;
}

.navigation li:hover {
    background-color: rgb(123,242,198);
}

.navigation a {
    text-decoration: none;
    color: rgb(123,242,198);
    transition: all 0.3s ease 0s;
}

/* <<<< MOBILE NAV >>>>*/

.mobile-dropdown {
    display: inline-block;
    position: relative;
    float: right;
}

.mobile-dropdown:hover > .mobile-nav-content{
    display: block;
}

.mobile-nav-btn {
    color: rgb(123,242,198);
    float: right;
    font-size: 2rem;
    font-weight: lighter;
    border: 1px solid rgb(123,242,198);
    border-radius: 5px;
    width: 37px;
    height: 37px;
    position: relative;
    margin-top: .4rem;
    margin-right: .4rem;
}
.mobile-nav-btn > span {
    position: absolute;
    bottom: .05rem ;
    left: .4rem ;
}

.mobile-nav-content{
    position: absolute;
    top: 2.7rem;
    right: 0;
    text-align: center;
    display: none;
    z-index: 2;
}

.mobile-nav-content > ul > li {
    display: block;
    background-color: #3d3f45;
    height: 2.5rem;
    padding: .5rem 1.2rem;
}

.mobil-nav{
    display: none;
}
@media (max-width: 768px) {
    .desktop-nav{
        display: none;
    }
    .mobil-nav{
        display: block;
        padding-bottom: .5rem;
    }
    .navigation {
        justify-content: flex-end;
    }
}


/* <<<<< HEADER >>>>> */
.header, .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;

}

.header {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5)),url("src/img/pexels-stein-egil-liland-3408744.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65% ;
    background-attachment: fixed;
}

#header-title{
    color: aliceblue;
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 4rem;
}

#header-title:hover{
    background-color: aqua;
    padding: 0 2rem;
}

#header-subtitle, .content-subtitle {
    background-color: aliceblue;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;

}
/* <<<<< CONTENT >>>>> */
.main-container{
    position: relative;
    height: 94vh;
    overflow-y: auto;
    overflow-x: hidden ;
     scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    scroll-snap-align: start;
}


.content-subtitle:hover {
    background-color: rgb(60,86,110);
    color: aliceblue;
}

.instruction {
    font-size: 1.5rem;
}

#linear-gradient, #transition, #animation, #transformation {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65%;
    background-attachment: fixed;
}


#linear-gradient {
    background-image: linear-gradient(to left,rgba(0,0,0), rgb(60,86,110), rgb(123,242,198), rgba(0,0,0));
}

#transition{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.8),rgba(0, 0, 0, 0.5)),url("src/img/pexels-brady-knoll-5409751.jpg");
}


#transition-box{
    box-shadow: 2px 2px 10px 2px black;
    transition: background-color 1.5s linear, color .5s linear;
}
#animation {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.8),rgba(0, 0, 0, 0.5)),url("src/img/pexels-frans-van-heerden-624015.jpg");
}

#transformation{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.8),rgba(0, 0, 0, 0.5)),url("src/img/pexels-quang-nguyen-vinh-2649403.jpg");
}

@keyframes animation {
    0% {background-color: rgb(60,86,110)}
    25% {background-color: rgb(123,242,198)}
    50% {background-color: rgb(60,86,110)}
    75% {background-color: rgb(123,242,198)}
    100% {background-color: rgb(60,86,110)}
}

@keyframes width {
    0% {transform: translate(0px, 0px)}
    25% {transform: translate(25px, 0px)}
    75% {transform: translate(-25px, 0px)}
    100% {transform: translate(0px, 0px)}
}

#animation-box:hover {
    animation-name: animation, width;
    animation-duration: 6s, 4s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-delay: 0s, 1s;
    animation-fill-mode: both, both;
}
